{% extends 'common/base.html' %}
{% block content %}

<div class="">
  <div class="">
    <h3><a href="{% url 'transactions_list' %}"><span class="text-dark"><u>Transactions</u></span></a></h3>
    <table class="table table-sm">
      <thead>
      </thead>
        <tbody>
          <tr>
            <td>
              <a href="{% url 'transactions_create' %}">New</a><br>
            </td>
            <td class="">
              <p class="text-right">Debit</p>
            </td>
            <td class="">
              <p class="text-right">Credit</p>
            </td>
          </tr>

          {% for transaction in transactions %}
          <tr>
            <td style="width: 60%" class="">
              <a class="text-nowrap" href="{% url 'transactions_detail' transaction.pk %}">
                {{ transaction.date }} |
                {{ transaction.name }}
              </a>
            </td>

            <td style="width: 20%" class="text-right">
              {% if transaction.type == 'Debit' %}
                {{ transaction.amount }}
              {% else %}
              {% endif %}
            </td>

            <td style="width: 20%" class="text-right">
              <p class="text-right">
                {% if transaction.type == 'Credit' %}
                  {{ transaction.amount }}
                {% else %}
                {% endif %}
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

    </div>
  <div class="">
    <div class="">
      <div class="">
        <h3><a href="{% url 'business_list' %}"><span class="text-dark"><u>Business Groups</u></span></a></h3>

        <table class="table table-sm">
          <tr>
            <td colspan="2">
              <a href="{% url 'business_create' %}">New</a><br>
            </td>

          </tr>
          {% for business in businesses %}
          <tr>
            <td><a href="{% url 'business_detail' business.pk %}">{{ business.name }}</a></td>
            <td>
              <p class="text-right">{{ business.balance }}</p>
            </td>
          <tr>
            {% endfor %}

        </table>
        </div>
    <div class="">
      <div class="">
        <h3><a href="{% url 'home' %}"><span class="text-dark"><u>Categories</u></span></a></h3>

        <table class="table table-sm">
          <tr>
            <td colsan="2">
              <p><a href="{% url 'categories_create' %}">New</a></p>
            </td>
          </tr>
          {% for category in categories %}
          <tr>
            <td><a href="{% url 'categories_detail' category.pk %}">{{ category.name }}</a></td>
            <td>
              <p class="text-right">{{ category.balance }}</p>
            </td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    <div class="">
      <div class="">
        <h3><a href="{% url 'accounts_list' %}"><span class="text-dark"><u>Accounts</u></span></a></h3>
        <table class="table table-sm">
          <tr>
            <td colspan="">
              <p><a href="{% url 'accounts_create' %}">New</a></p>
            </td>
          </tr>
          {% for account in accounts %}
          <tr>
            <td><a href="{% url 'accounts_detail' account.pk %}">{{ account.name }}</a></td>
            <td>
              <p class="text-right">{{ account.balance }}</p>
            </td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
      </div>
    </div>
  </div>


{% endblock %}
