<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#Business Groups">Business Groups</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Categories">Accounts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Accounts">Categories</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="Business Groups">
    <div class="row">
      <div class='col'>
        <hr>
        <h5><a href="{% url 'business_list' %}"><span class="text-dark"><u>All Groups</u></span></a></h5>

        <table class="table table-sm">
          <tr>
            <td colspan="2">
              <a href="{% url 'business_create' %}">New</a><br>
            </td>

          </tr>
          {% for business in businesses %}
          <tr>
            <td><a href="{% url 'business_detail' business.pk %}">{{ business.name }}</a></td>
            <td>
              <p class="text-right">{{ business.balance }}</p>
            </td>
          <tr>
            {% endfor %}

        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane container fade" id="Categories">
    <div class="row">
      <div class='col'>
        <hr>
        <h5><a href="{% url 'home' %}"><span class="text-dark"><u>All Categories</u></span></a></h5>

        <table class="table table-sm">
          <tr>
            <td colsan="2">
              <p><a href="{% url 'categories_create' %}">New</a></p>
            </td>
          </tr>
          {% for category in categories %}
          <tr>
            <td><a href="{% url 'categories_detail' category.pk %}">{{ category.name }}</a></td>
            <td>
              <p class="text-right">{{ category.balance }}</p>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane container fade" id="Accounts">
    <div class="row">
      <div class='col'>
        <hr>
        <h5><a href="{% url 'accounts_list' %}"><span class="text-dark"><u>All Accounts</u></span></a></h5>
        <table class="table table-sm">
          <tr>
            <td colspan="">
              <p><a href="{% url 'accounts_create' %}">New</a></p>
            </td>
          </tr>
          {% for account in accounts %}
          <tr>
            <td><a href="{% url 'accounts_detail' account.pk %}">{{ account.name }}</a></td>
            <td>
              <p class="text-right">{{ account.balance }}</p>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
